.ui.borderless.topmenu.container.menu{
  background-color: darkblue;
  width: 1127 px;
  margin;: none;
}

.ui.borderless.second.container.menu{
  background-color: blue;
  width: 1127 px;
  margin: none;
}
img{
  size: 30px;
}